<a href="https://colab.research.google.com/github/thiagoc09/tratamento-de-dados/blob/main/dict_replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dados relacionadas à taxa de homicídios no Brasil em 2017.Os dados originais podem ser encontrados no Kaggle.

In [1]:
import pandas as pd 
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1")

In [2]:
df.head() 
##Observando o que tem na planilha de forma simplificada

  UF;populacao;sigla;ano;homicidios;regiao
0            Acre;829619;AC;2017;516;norte
1    Alagoas;3375823;AL;2017;1813;nordeste
2           Amapá;797722;AP;2017;383;norte
3      Amazonas;4063614;AM;2017;1674;norte
4     Bahia;15344447;BA;2017;7487;nordeste

In [4]:
# carregando o arquivo com o separador correto
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1", sep=";")
df.head()

         UF  populacao sigla   ano  homicidios    regiao
0      Acre     829619    AC  2017         516     norte
1   Alagoas    3375823    AL  2017        1813  nordeste
2     Amapá     797722    AP  2017         383     norte
3  Amazonas    4063614    AM  2017        1674     norte
4     Bahia   15344447    BA  2017        7487  nordeste

Acima, ao fazer uma verificação rápida no conjunto de dados conseguimos percerber que a sigla para os estados de Goiás (G) e São Paulo não estão corretamente lançadas na coluna `Sigla`. 

Precisamos consertar esse detalhe para que possamos fazer uma análise bem estruturada desses dados.

Para isso, vamos criar um dicionário que receberá como chave a entrada incorreta, e como valor, a correção.

Depois, utilizaremos o método `replace` para aplicar a correção.

In [5]:
df["sigla"]

0            AC
1            AL
2            AP
3            AM
4            BA
5            CE
6            DF
7            ES
8             G
9            MA
10           MT
11           MS
12           MG
13           PA
14           PB
15           PR
16           PE
17           PI
18           RN
19           RS
20           RJ
21           RO
22           RR
23           SC
24    São Paulo
25           SE
26           TO
Name: sigla, dtype: object

In [7]:
##Criando um dicionário para a correção

correcao = {"G":"GO","São Paulo":"SP"}

df["sigla"] = df["sigla"].replace(correcao)

In [8]:
df["sigla"]

0     AC
1     AL
2     AP
3     AM
4     BA
5     CE
6     DF
7     ES
8     GO
9     MA
10    MT
11    MS
12    MG
13    PA
14    PB
15    PR
16    PE
17    PI
18    RN
19    RS
20    RJ
21    RO
22    RR
23    SC
24    SP
25    SE
26    TO
Name: sigla, dtype: object

Usar replace com dicionário para corrigir valores errados. Na key você coloca o incorreto, e como value põe o correto. Depois use o replace colocando o dicionário criado como parâmetro